{% extends 'base.html' %}

{% block content %}
<h3>Create A Post</h3>
<form action="" method='POST'>
    {{ post.hidden_tag() }}
    <div class="form-group">
        <fieldset>
            {{ post.title.label }}
            {{ post.title(class = 'form-control', placeholder='Enter Post Title') }}
        </fieldset>
        <fieldset>
            {{ post.image.label }}
            {{ post.image(class = 'form-control', placeholder='Enter Image Url') }}
        </fieldset>
        <fieldset>
            {{ post.content.label }}
            {{ post.content(class = 'form-control', placeholder='Enter Content Title') }}
        </fieldset>
        {{ post.submit(class='btn btn-success') }}
    </div>
</form>
{% endblock content %}