<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('hello_world') }}">Kekembas Blog</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('hello_world') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('register') }}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('createPost') }}">Create Post</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>